body { padding:0; margin:0; background-color:#dfe8df; }
.root { width:100%; float:left; }
.menu { margin-left:-100%; width:200px; float:left; }
.content { width:100%; float:left; }
.entry { margin-left:200px; background-color:white; padding:20px 10px 20px 10px; font-size:14px; }
.title { margin-left:200px; padding:10px 5px 10px 10px; background-color:#cfcfff; }

div.langSel { padding:10px 10px 10px 10px; margin-bottom:10px; background-color:#afcfaf; font-size:12px; line-height:24px; }
select.langSel { font-size:12px; }
.menuItem { margin:2px 10px 2px 10px; font-size:12px; }
.menuItemGroup { margin-bottom:10px; margin-left:10px; }

.categoryEntry { font-weight:bold; color:#00003f; margin-top:5px; }
.activeEntryLink { font-weight:bold; }

.paragraph { margin:8px 0 8px 0; }
.figure { text-align:center; margin:20px 0 20px 0; }
.captionNumber { display:inline; margin-right:10px; font-weight:bold; }
.ref { display:inline; font-weight:bold; }

.code { background-color:#dfdfdf; margin:10px 20px 10px 20px; padding:3px 10px 3px 10px; }
.codeBlock { margin-top:5px; }
.codeLine { font-family:Consolas, Courier New; }
.codeLineNumber { display:inline; color:#7f7f7f; margin-right:10px; }
.codeLineCode { display:inline; }
.codeFilename { display:inline; font-weight:bold; font-family:Arial; font-style:italic; }

h1 { font-size:20px; margin:0; line-height:24px; }
