body { padding:0; margin:0; background-color:#dfe8df; }
.root { width:100%; float:left; }
.menu { margin-left:-100%; width:200px; float:left; }
.content { width:100%; float:left; }
.entry { margin-left:200px; background-color:white; font-size:14px; }
.title { margin-left:200px; padding:10px 5px 10px 10px; background-color:#afcfaf; }

div.langSel { padding:10px 10px 10px 10px; margin-bottom:10px; background-color:#8fbf8f; font-size:12px; line-height:24px; }
select.langSel { font-size:12px; }
.menuItem { margin:2px 8px 2px 8px; font-size:12px; }
.menuItemGroup { margin-bottom:10px; margin-left:8px; }

.categoryEntry { font-weight:bold; color:#00003f; margin-top:5px; }
.activeEntryLink { font-weight:bold; }

h1 { font-size:24px; margin:0; line-height:24px; }
h2 { font-size:22px; background-color:#e0e0e0; margin:0; padding:10px 10px 5px 10px; }
h3 { font-size:20px; margin:0; padding:10px 12px 2px 12px; border-bottom:1px solid black; }
.section { }
.paragraph { padding:8px 12px 8px 12px; }
.figure { text-align:center; margin:20px 0 20px 0; }
.captionNumber { display:inline; margin-right:10px; font-weight:bold; }
.ref { display:inline; font-weight:bold; }

.code { border:1px solid black; margin:10px 30px 10px 30px; padding:3px 10px 3px 10px; }
.codeBlock { margin-top:5px; }
.codeLine { font-family:Consolas, Courier New; }
.codeLineNumber { display:inline; color:#7f7f7f; margin-right:10px; }
.codeLineCode { display:inline; }
.codeFilename { display:inline; font-weight:bold; font-family:Arial; font-style:italic; }

.concept { display:inline; font-weight:bold; color:#202080; }
.verb { display:inline; font-family:Consolas, Courier New; padding:0 5px 0 5px; color:#1f1f1f; font-weight:bold; }
.def { border:1px solid black; margin:10px 20px 10px 20px; padding:5px 10px 5px 10px;  }
.defsym { display:inline; font-family:Consolas, Courier New; }
.defvar { display:inline; font-style:italic; }

.infoBlock { margin:5px 40px; padding:10px; background-color:#afcfaf; }
.infoBlockTitle { font-weight:bold; margin-right:10px; }
